<div class="wrapper wrapper-content row animated fadeInRight" data-ng-init="init()">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <button class="btn btn-primary pull-right"
                        style="margin-right: 5px;" data-ng-click="createProject()">Create Project</button>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="clear m-b-sm">
                    <div class="pull-left col-md-4">
                        <label>Show </label>

                        <label>
                            <select single required class="form-control input-sm" data-ng-model="tableSort.itemsPerPage"
                                    ng-options="value for value in tableRowCount track by value"
                                    ng-change="refreshTable(tableSort, projects)"></select>
                        </label>
                        
                        <label>entries</label>
                    </div>

                    <div class="col-md-4 pull-right">
                        <input class="form-control" type="text" ng-model="tableSort.search" placeholder="Search" ng-change="refreshTable(tableSort, projects)" />
                    </div>
                </div>

                <ul uib-pagination total-items="tableSort.pagedItems.length" data-ng-model="tableSort.currentPage" rotate="false"
                    boundary-links="true"  ng-change="refreshTable(tableSort, projects)" max-size="tableSort.maxPageNumbers"
                    items-per-page="tableSort.itemsPerPage" class="pagination-sm pull-right"></ul>

                <table class="table table-condensed table-bordered table-hover text-center">
                    <tr style="width:inherit;">
                        <td td-sort ng-sort-by="name" ng-model="tableSort.sortBy" ng-direction="tableSort.reversOrd">
                            <strong>Name</strong>
                        </td>

                        <td td-sort ng-sort-by="owner.firstName" ng-model="tableSort.sortBy" ng-direction="tableSort.reversOrd">
                            <strong>Owner</strong>
                        </td>

                        <td td-sort ng-sort-by="rating" ng-model="tableSort.sortBy" ng-direction="tableSort.reversOrd">
                            <strong>Rating</strong>
                        </td>

                        <td td-sort ng-sort-by="tags" ng-model="tableSort.sortBy" ng-direction="tableSort.reversOrd">
                            <strong>Tags</strong>
                        </td>

                        <td td-sort ng-sort-by="projectUrl" ng-model="tableSort.sortBy" ng-direction="tableSort.reversOrd">
                            <strong>Website</strong>
                        </td>
						
                        <td>
                            <strong></strong>
                        </td>
                    </tr>

                    <tbody ng-show="($index >= tableSort.begin) && ($index < tableSort.end)"
                           data-ng-repeat="project in tableSort.pagedItems | orderBy:tableSort.sortBy:tableSort.reversOrd">
                        <tr ng-class="{'bg-danger': log.level==='error', 'bg-warning': log.level==='warn'}">
                            <td>{{project.name}}</td>
                            <td>{{project.owner.firstName}}</td>
							
                            <td>
								<div rating size="5" read-only="true" ng-model="project.rating"></div>
							</td>
							
                            <td>{{project.tags || 'No Tags'}}</td>
							
                            <td>
								<a href="http://{{project.projectUrl}}">
									<i class="fa fa-2x fa-home" aria-hidden="true"></i>
								</a>
							</td>

                            <td class="text-center">
                                <div class="btn-group" data-ng-class='{open: openConfig}'>
                                    <a class="dropdown-toggle" data-toggle="dropdown" data-ng-click='openConfig =! openConfig'><i class="fa fa-sliders fa-2x"></i></a>

                                    <ul class="dropdown-menu left">
                                        <li data-ng-click="updateProject(project);" class="text-center text-success p-xxs hover" data-ng-show="((project.firstname === user.firstName) && (project.lastname === user.lastName)) || (user.roles.indexOf('admin') !== -1)">
                                            <i class="fa fa-arrow-circle-o-left"></i> Edit Project
                                        </li>

                                        <li role="separator" class="divider" data-ng-show="((project.firstname === user.firstName) && (project.lastname === user.lastName)) || (user.roles.indexOf('admin') !== -1)"></li>
										
                                        <li data-ng-click="viewProject(project);" class="text-center text-primary p-xxs hover">
                                            <i class="fa fa-arrow-circle-o-right"></i> View Project
                                        </li>

                                        <li role="separator" class="divider"></li>

                                        <li data-ng-click="reviewProject(project);" class="text-center text-warning p-xxs hover">
                                            <i class="fa fa-star"></i> Review
                                        </li>

                                        <li role="separator" class="divider" data-ng-show="((project.firstname === user.firstName) && (project.lastname === user.lastName)) || (user.roles.indexOf('admin') !== -1)"></li>

                                        <li data-ng-click="removeProject(project);" class="text-center text-danger p-xxs hover" data-ng-show="((project.firstname === user.firstName) && (project.lastname === user.lastName)) || (user.roles.indexOf('admin') !== -1)">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    <tr ng-hide="projects.length">
                        <td colspan="6">No Projects Are Currently Available to Display</td>
                    </tr>
                </table>
				
                <div class="row">
                    <div class="col-xs-12">
                        Showing {{tableSort.begin + 1}} to {{(tableSort.end < tableSort.total) ? tableSort.end : tableSort.total }} of {{tableSort.total}} entries
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
